In [1]:
import pandas as pd

In [2]:
day_2_df = pd.read_csv("day_2_input.txt", header=None)
day_2_df.columns = ["input"]

In [3]:
day_2_df = day_2_df["input"].str.split(":", expand=True)
day_2_df.columns = ["policy", "password"]

In [4]:
day_2_df[["least", "most", "letter"]] = day_2_df['policy'].str.split("-| ", expand=True)

In [5]:
day_2_df['letter_count'] = day_2_df.apply(lambda x: x['password'].count(x['letter']), axis=1)

In [6]:
day_2_df['least'] = day_2_df['least'].astype(int)
day_2_df['most'] = day_2_df['most'].astype(int)

In [7]:
mask = (day_2_df['letter_count'] <= day_2_df['most']) & (day_2_df['letter_count'] >= day_2_df['least'])

In [8]:
len(day_2_df.loc[mask])

458

In [9]:
day_2_df['first_value'] = day_2_df.apply(lambda x: x['password'][x['least']] == x['letter'], axis=1)
day_2_df['second_value'] = day_2_df.apply(lambda x: x['password'][x['most']] == x['letter'], axis=1)

In [10]:
day_2_df['valid'] = day_2_df['first_value'] ^ day_2_df['second_value']

In [11]:
len(day_2_df.loc[day_2_df['valid']])

342

In [12]:
day_2_df

,policy,password,least,most,letter,letter_count,first_value,second_value,valid
0,5-9 g,ggccggmgn,5,9,g,5,True,False,True
1,11-16 l,llllqllllllllflq,11,16,l,13,True,False,True
2,3-6 q,qvqqqpzqd,3,6,q,5,True,False,True
3,6-11 f,ffffpcffffp,6,11,f,8,False,False,False
4,7-8 l,lllqlwtqll,7,8,l,6,False,False,False
...,...,...,...,...,...,...,...,...,...
995,17-20 k,kkkkkkkkkkkkkkkkkkkk,17,20,k,20,True,True,False
996,3-5 q,hjqrqsq,3,5,q,3,True,True,False
997,12-13 h,hhhhhhhhfhhhh,12,13,h,12,True,True,False
998,3-4 x,gxxjphxx,3,4,x,4,True,False,True
999,4-6 g,sbwggg,4,6,g,3,True,True,False