In [1]:
import pandas as pd
f = open("day_5_input.txt")
input_list = f.read().split("\n")

In [2]:
def input_to_binary_string(input_string):
    input_string = input_string.replace("F", "0") \
                               .replace("B", "1") \
                               .replace("L", "0") \
                               .replace("R", "1")
    
    row = int(input_string[:-3], 2)
    col = int(input_string[-3:], 2)
    return [row, col]

In [3]:
converted_list = [[item, *input_to_binary_string(item)] for item in input_list]
df = pd.DataFrame(converted_list, columns=["boarding_pass", "row", "column"])
df['ID'] = df['row'] * 8 + df['column']

In [4]:
df

    boarding_pass  row  column   ID
0      FFFFBFBLLR    5       1   41
1      BFBFFBBLLR   83       1  665
2      BBFFFFBLRR   97       3  779
3      FBFBFFFRLL   40       4  324
4      BFFBFFFRRR   72       7  583
..            ...  ...     ...  ...
819    BFFFBFBLRL   69       2  554
820    FBBBBBFLLL   62       0  496
821    FBBFFBFLLL   50       0  400
822    BBFFBFFRLL  100       4  804
823    FBFFFBFLLL   34       0  272

[824 rows x 4 columns]

In [5]:
def day_5_part_1():
    return df['ID'].max()

In [6]:
day_5_part_1()

835

In [7]:
def day_5_part_2():

    #Copy to prevent overwriting our dataframe
    df_copy = df.copy()
    
    #Sort by index, re-index
    df_copy = df_copy.sort_values("ID").reset_index(drop=True)
    #Create a new column, 'idx', that will be used as the index
    df_copy['idx'] = df_copy['ID']

    #Create a pd.Series that uses idx as the index, then apply a "reindex" using a range to fill missing values with a "NaN"
    #We start from the minimum and go all the way to the maximum so our sole "NaN" value is our answer
    series = df_copy[['idx', 'ID']].set_index('idx')
    series = series.reindex(range(df_copy['ID'].min(), df_copy['ID'].max()))

    #Mask out all valid values to give us our sole missing value
    missing_mask = series['ID'].isna()
    return series.loc[missing_mask].index[0]

In [8]:
day_5_part_2()

649